
.demo {
    color:#fff;
    padding:1rem;
    border-radius:3px;
  }
  
  header.demo {
    background-color:#f00;
  }
  
  aside.demo {
  background-color:#4a71ae;
  }
  
  main.demo {
    background-color:#70d736;
  }
  
  footer.demo {
    background-color:#5a6f6c;
  }
  
  .grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:100px 400px 100px;
  }
  
  header {
    grid-column: 1 / -1;
  }
  
  main {
    grid-column:1/-1;
  }
  
  aside {
    grid-column:-1;
    grid-row:1/-1;
  }
  
  footer {
    grid-column:1/-1;
  }